.nav_menu {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    height: 50px;
    background-color: darkcyan;
}

.nav_menu a {
    color: aqua;
    margin: 10px;
}

.nav_menu button {
    margin: 10px;
}